@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
Desctop >=    11 n 
tab     8    11 n
mobile  0     8 n 
767 px = > 8.1 n 
992 px = > 10.8 n
*/
header {
  width: 100%;
  /* background-color: var(--colors-white, #ffffff); */
  font-family: "Be Vietnam Pro", sans-serif;
  padding-top: clamp(41px, 6vh, 56px);
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 992px) {
    padding-top: 41px;
  }
  /* padding-left: 165px; */
  .container {
    z-index: 10;
    width: 1110px;
    width: 90%;

    /* height: 44px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: clamp(110px, 14%, 145.5px);
      max-width: 40%;
    }
    nav {
      display: flex;
      /* width: 398px;
      height: 19px; */
      gap: 32px;
      @media screen and (min-width: 0) and (max-width: 767px) {
        display: none;
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        display: none;
      }
      a {
        /* width: 43px;
        height: 19px; */
        text-decoration: none;
        /* font-family: Be Vietnam; */
        font-weight: 500;
        font-style: Medium;
        font-size: 13px;
        line-height: 145%;
        letter-spacing: 0px;
        color: var(--colors-blue-950, #242d52);
      }
      #Pricing {
        width: 43px;
        height: 19px;
      }
      #Product {
        width: 49px;
        height: 19px;
      }
      #About {
        width: 59px;
        height: 19px;
      }
      #Careers {
        width: 49px;
        height: 19px;
      }
      #Community {
        width: 73px;
        height: 19px;
      }
    }
    button {
      width: 137px;
      height: 44px;
      gap: spacing/0;

      padding-top: spacing/200;
      padding-right: spacing/400;
      padding-bottom: spacing/200;
      padding-left: spacing/400;

      font-weight: 700;
      font-style: Bold;
      font-size: 13px;
      line-height: 145%;
      letter-spacing: 0px;
      vertical-align: middle;
      box-shadow: 0px 15px 15px -10px #ff9f8e;
      background: #f3603c;
      border: 0;
      color: white;

      border-radius: 22px;
      @media screen and (min-width: 0) and (max-width: 767px) {
        display: none;
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        display: none;
      }
    }
  }
  #rec {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}
.Analysis {
  width: 100%;
  /* height: 60vh; */
  margin-top: clamp(56px, 12vw, 120px);
  /* background-color: #f3603c; */
  display: flex;
  justify-content: center;

  .container01 {
    width: 1110px;
    max-width: 90%;
    /* height: 40vh; */
    z-index: 20;

    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 0) and (max-width: 992px) {
      flex-direction: column-reverse;
    }

    .analyleft {
      width: clamp(70%, 70vw, 100%);
      /* height: 100%; */
      /* background-color: #d0d1d8; */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @media screen and (min-width: 0) and (max-width: 375px) {
        width: 323px;
        /* height: 310px; */
        gap: 32;
      }

      h1 {
        width: 445px;
        max-width: 96%;
        font-weight: 700;
        font-style: Bold;
        font-size: clamp(40px, 4vw, 56px);
        line-height: 114.99999999999999%;
        letter-spacing: -1px;
        margin-bottom: 16px;
        color: var(--colors-blue-950, #242d52);
        @media screen and (min-width: 0) and (max-width: 375px) {
          font-style: Bold;
          line-height: 110.00000000000001%;
          letter-spacing: -0.75px;
          text-align: center;
        }
      }
      p {
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 163%;
        letter-spacing: 0px;
        margin-bottom: 40px;
        color: var(--colors-blue-950, #242d52);
        width: 445px;
        max-width: 96%;
        /* text-align: justify; */
        padding-right: 7rem;
        @media screen and (min-width: 0) and (max-width: 375px) {
          width: 323px;

          padding: 1rem;
          font-weight: 400;
          font-style: Regular;
          font-size: 16px;
          leading-trim: NONE;
          line-height: 163%;
          letter-spacing: 0px;
          text-align: center;
        }
      }
      button {
        width: 137px;
        height: 44px;
        gap: spacing/0;

        padding-top: spacing/200;
        padding-right: spacing/400;
        padding-bottom: spacing/200;
        padding-left: spacing/400;

        font-weight: 700;
        font-style: Bold;
        font-size: 13px;
        line-height: 145%;
        letter-spacing: 0px;
        vertical-align: middle;
        box-shadow: 0px 15px 15px -10px #ff9f8e;
        background: #f3603c;
        border: 0;
        color: white;

        border-radius: 22px;
        @media screen and (min-width: 0) and (max-width: 375px) {
        }
      }
    }
    .analyright {
      width: clamp(70%, 70vh, 100%);

      display: flex;

      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      /* background-color: #f3603c; */

      .up {
        width: 100%;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: 0) and (max-width: 375px) {
          width: 323px;

          gap: 24;
        }
        .left {
          box-shadow: 0px 10px 20px 0px #50566208;
          width: 260px;
          height: 235px;
          /* left: 570px; */
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          background: var(--colors-white, #ffffff);
          @media screen and (min-width: 0) and (max-width: 375px) {
            width: clamp(129px, 140px, 260px);
            height: 150px;
            left: 2.5px;
            angle: 0 deg;
            opacity: 1;
          }
          img {
            width: 230.2857208251953px;
            height: 202.58621215820312px;
            @media screen and (min-width: 0) and (max-width: 375px) {
              width: 118.285721px;
              height: 120.586212px;
              top: 9.59px;
              left: 12.04px;
              angle: 0 deg;
              opacity: 1;
            }
          }
        }
        .right {
          width: 260px;
          height: 235px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          background: var(--colors-white, #ffffff);
          box-shadow: 0px 10px 20px 0px #50566208;
          @media screen and (min-width: 0) and (max-width: 375px) {
            width: 153px;
            height: 139px;
            left: 167.5px;
            angle: 0 deg;
            opacity: 1;
            border-radius: 2.4px;
          }
          img {
            width: 162.3766326904297px;
            height: 163px;
            top: 36px;
            left: 899px;
            @media screen and (min-width: 0) and (max-width: 375px) {
              width: 110.376633px;
              height: 105px;
              top: 21.57px;
              left: 196.51px;
              angle: 0 deg;
              opacity: 1;
            }
          }
        }
      }
    }
    .low {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 260px;
        height: 235px;
        /* left: 570px; */
      }
    }
  }
}
.sec3 {
  .main {
    @media screen and (min-width: 0) and (max-width: 992px) {
      display: flex;
      flex-direction: column;
    }
    .left {
      .contant {
        h1 {
          width: clamp(332px, 430px, 445px); /* max-width:  80%; */
          /* height: 96px; */

          font-weight: 700;
          font-style: Bold;
          font-size: clamp(32px, 37px, 40px);

          line-height: 110.00000000000001%;
          letter-spacing: -0.75px;
          color: var(--colors-blue-950, #242d52);
          @media screen and (min-width: 0) and (max-width: 375px) {
            width: clamp(332px, 350px, 445px); /* max-width:  80%; */
            /* height: 96px; */

            font-weight: 700;
            font-style: Bold;
            font-size: clamp(32px, 37px, 40px);

            line-height: 110.00000000000001%;
            letter-spacing: -0.75px;
            color: var(--colors-blue-950, #242d52);
          }
        }
        p {
          font-weight: 400;
          font-style: Regular;
          font-size: clamp(10px, 12px, 13px);
          width: clamp(323px, 480px, 500px);
          line-height: 163%;
          letter-spacing: 0px;
          /* height: 78px; */
          color: var(--colors-blue-950, #242d52);
          text-align: justify;
          @media screen and (min-width: 0) and (max-width: 375px) {
            font-weight: 400;
            font-style: Regular;
            font-size: clamp(10px, 12px, 13px);
            line-height: 163%;
            letter-spacing: 0px;
            width: clamp(290px, 300px, 500px);
            /* height: 78px; */
            color: var(--colors-blue-950, #242d52);
            text-align: justify;
          }
        }
      }
    }
    .right {
      .contant {
        @media screen and (min-width: 0) and (max-width: 992px) {
          padding: 0;
          width: 100%;
        }
        .up {
          .upup {
            .left {
              background: var(--colors-orange-400, #f3603c);
              width: 67px;
              /* height: 39px; */
              /* gap: spacing/0; */

              border-radius: 39px;
              padding: 5px;
            }
            h3 {
              padding: 5px;

              color: var(--colors-blue-950, #242d52);
              font-weight: 700;
              font-style: Bold;
              font-size: clamp(13px, 15px, 16px);
              width: clamp(235px, 288px, 292px);
              line-height: 145%;
              letter-spacing: 0px;
              @media screen and (min-width: 0) and (max-width: 375px) {
                padding: 5px;

                color: var(--colors-blue-950, #242d52);
                font-weight: 700;
                font-style: Bold;
                font-size: clamp(13px, 15px, 16px);
                line-height: 145%;
                letter-spacing: 0px;
                width: clamp(235px, 280px, 292px);
              }
              /* height: 23px; */
            }
          }
          .uplow {
            color: var(--colors-blue-950, #242d52);
            font-weight: 400;
            font-style: Regular;
            font-size: clamp(13px, 15px, 16px);
            width: clamp(359px, 650px, 672px);
            line-height: 163%;
            letter-spacing: 0px;
            padding-left: 88px;
            @media screen and (min-width: 0) and (max-width: 375px) {
              color: var(--colors-blue-950, #242d52);
              font-weight: 400;
              font-style: Regular;
              font-size: clamp(13px, 15px, 16px);
              line-height: 163%;
              letter-spacing: 0px;
              width: clamp(320px, 330px, 672px);
              padding-left: 88px;
            }
          }
        }
        .center {
          .upup {
            .left {
              background: var(--colors-orange-400, #f3603c);
              width: 67px;
              /* height: 39px; */
              /* gap: spacing/0; */

              border-radius: 39px;
              padding: 5px;
            }
            h3 {
              padding: 5px;

              color: var(--colors-blue-950, #242d52);
              font-weight: 700;
              font-style: Bold;
               font-size: clamp(13px, 15px, 16px);
              width: clamp(235px, 288px, 292px);
              line-height: 145%;
              letter-spacing: 0px;
              /* height: 23px; */
            }
          }
          .uplow {
           color: var(--colors-blue-950, #242d52);
            font-weight: 400;
            font-style: Regular;
            font-size: clamp(13px, 15px, 16px);
            width: clamp(359px, 650px, 672px);
            line-height: 163%;
            letter-spacing: 0px;
            padding-left: 88px;
            @media screen and (min-width: 0) and (max-width: 375px) {
              color: var(--colors-blue-950, #242d52);
              font-weight: 400;
              font-style: Regular;
              font-size: clamp(13px, 15px, 16px);
              line-height: 163%;
              letter-spacing: 0px;
              width: clamp(320px, 330px, 672px);
              padding-left: 88px;
            }
          }
        }
        .low {
          .upup {
            .left {
              background: var(--colors-orange-400, #f3603c);
              width: 67px;
              /* height: 39px; */
              /* gap: spacing/0; */

              border-radius: 39px;
              padding: 5px;
            }
            h3 {
              padding: 5px;

              color: var(--colors-blue-950, #242d52);
              font-weight: 700;
              font-style: Bold;
               font-size: clamp(13px, 15px, 16px);
              width: clamp(235px, 288px, 292px);
              line-height: 145%;
              letter-spacing: 0px;
              /* height: 23px; */
            }
          }
          .uplow {
            color: var(--colors-blue-950, #242d52);
            font-weight: 400;
            font-style: Regular;
            font-size: clamp(13px, 15px, 16px);
            width: clamp(359px, 650px, 672px);
            line-height: 163%;
            letter-spacing: 0px;
            padding-left: 88px;
            @media screen and (min-width: 0) and (max-width: 375px) {
              color: var(--colors-blue-950, #242d52);
              font-weight: 400;
              font-style: Regular;
              font-size: clamp(13px, 15px, 16px);
              line-height: 163%;
              letter-spacing: 0px;
              width: clamp(320px, 330px, 672px);
              padding-left: 88px;
            }
          }
        }
      }
    }
  }
}

.page {
  .main1 {
    .right {
      .up {
        p {
          color: var(--colors-blue-950, #242d52);

          font-weight: 400;
          font-style: Regular;
          font-size: 16px;
          line-height: 163%;
          letter-spacing: 0px;
          /* width: clamp(449px, 620px, 676px); */
          /* height: 104px; */
          text-align: justify;
        }
      }

      .num {
        div {
          /* width: 67px; */
          /* height: 39px; */
          /* gap: spacing/0; */

          border-radius: 39px;
          /* padding: 3px; */
          background: var(--colors-orange-400, #f3603c);
        }
        h3 {
          color: var(--colors-blue-950, #242d52);
          /* font-family: Be Vietnam; */
          font-weight: 700;
          font-style: Bold;
          font-size: 16px;

          line-height: 145%;
          letter-spacing: 0px;
          width: clamp(235px, 260px, 292px);
          /* height: 23px; */
        }
      }
    }
  }
}
