@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
Desctop >=    11 n 
tab     8    11 n
mobile  0     8 n 
767 px = > 8.1 n 
992 px = > 10.8 n
*/
header {
  width: 100%;
  /* background-color: var(--colors-white, #ffffff); */
  font-family: "Be Vietnam Pro", sans-serif;
  padding-top: clamp(41px, 6vh, 56px);
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 992px) {
    padding-top: 41px;
  }
  /* padding-left: 165px; */
  .container {
    z-index: 10;
    width: 1110px;
    width: 90%;

    /* height: 44px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: clamp(110px, 14%, 145.5px);
      max-width: 40%;
    }
    nav {
      display: flex;

      /* width: 398px;
      height: 19px; */
      gap: 32px;
      @media screen and (min-width: 0) and (max-width: 767px) {
        display: none;
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        display: none;
      }
      a {
        /* width: 43px;
        height: 19px; */

        /* font-family: Be Vietnam; */
        font-weight: 500;
        font-style: Medium;
        font-size: 13px;
        line-height: 145%;
        letter-spacing: 0px;
        color: var(--colors-blue-950, #242d52);
      }
      #Pricing {
        width: 43px;
        height: 19px;
      }
      #Product {
        width: 49px;
        height: 19px;
      }
      #About {
        width: 56px;
        height: 19px;
      }
      #Careers {
        width: 49px;
        height: 19px;
      }
      #Community {
        width: 73px;
        height: 19px;
      }
    }
    button {
      width: 137px;
      height: 44px;
      gap: spacing/0;

      padding-top: spacing/200;
      padding-right: spacing/400;
      padding-bottom: spacing/200;
      padding-left: spacing/400;

      font-weight: 700;
      font-style: Bold;
      font-size: 13px;
      line-height: 145%;
      letter-spacing: 0px;
      vertical-align: middle;
      box-shadow: 0px 15px 15px -10px #ff9f8e;
      background: #f3603c;
      border: 0;
      color: white;

      border-radius: 22px;
      @media screen and (min-width: 0) and (max-width: 767px) {
        display: none;
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        display: none;
      }
    }
  }
  #rec {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}
.Analysis {
  width: 100%;
  /* height: 60vh; */
  margin-top: clamp(56px, 12vw, 120px);
  /* background-color: #f3603c; */
  display: flex;
  justify-content: center;

  .container {
    width: 1110px;
    max-width: 90%;
    /* height: 40vh; */
    z-index: 20;

    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 0) and (max-width: 992px) {
      flex-direction: column-reverse;
    }
    .analyleft {
      width: clamp(70%, 70vw, 100%);
      /* height: 100%; */
      /* background-color: #d0d1d8; */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /* align-items: center; */

      h1 {
        width: 445px;
        max-width: 96%;
        font-weight: 700;
        font-style: Bold;
        font-size: clamp(40px, 4vw, 56px);
        line-height: 114.99999999999999%;
        letter-spacing: -1px;
        margin-bottom: 16px;
        color: var(--colors-blue-950, #242d52);
      }
      p {
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 163%;
        letter-spacing: 0px;
        margin-bottom: 40px;
        color: var(--colors-blue-950, #242d52);
        width: 445px;
        max-width: 96%;
        text-align: justify;
        padding-right: 7rem;
      }
      button {
        width: 137px;
        height: 44px;
        gap: spacing/0;

        padding-top: spacing/200;
        padding-right: spacing/400;
        padding-bottom: spacing/200;
        padding-left: spacing/400;

        font-weight: 700;
        font-style: Bold;
        font-size: 13px;
        line-height: 145%;
        letter-spacing: 0px;
        vertical-align: middle;
        box-shadow: 0px 15px 15px -10px #ff9f8e;
        background: #f3603c;
        border: 0;
        color: white;

        border-radius: 22px;
      }
    }
    .analyright {
      width: clamp(70%, 70vh, 100%);
      

      display: flex;

      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      /* background-color: #f3603c; */
      .up {
        width: 100%;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        .left {
          box-shadow: 0px 10px 20px 0px #50566208;
          width: 260px;
          height: 235px;
          /* left: 570px; */
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          background: var(--colors-white, #ffffff);
          img {
            width: 230.2857208251953px;
            height: 202.58621215820312px;
          }
        }
        .right {
          width: 260px;
          height: 235px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          background: var(--colors-white, #ffffff);
          box-shadow: 0px 10px 20px 0px #50566208;

          img {
            width: 162.3766326904297px;
            height: 163px;
            top: 36px;
            left: 899px;
          }
        }
      }
    }
    .low {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 260px;
        height: 235px;
        /* left: 570px; */
      }
    }
  }
}
